<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h3>edit your chats:<%= chats._id %></h3>
        <p>this chat was sent from <%= chats.from %> to <%=chats.to%></p>


        <form method="POST" action="/chats/<%=chats._id%>?_method=PUT">
            <textarea name="msg" rows = "6" cols = "50"><%=chats.msg%></textarea>
            <br /> 
            <button type="submit" onclick="return confirmEdit()">edit</button>
        </form>
    </div>
    <script>
        function confirmEdit(){
            return confirm("confirm Edit");
        }
    </script>
</body>
</html>