<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini whatsapp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="main">All chats</h1>
    <form action="/chats/new" method="get">
        <button class="btn1">New chats</button>
    </form>
    <br>

    <div class="chat_container">
        <%for(let chat of chats){%>
        <div class = "chat">
            <p>From:<%=chat.from%></p>
            <div class="message">
                <p><%=chat.msg%></p>

                <form method = "GET" action="/chats/<%=chat._id%>/edit ">
                    <button type="submit" onclick="return confirmEdit()">edit</button>
                </form>
                
                <br />


                <form method = "POST" action="/chats/<%=chat._id%>?_method=DELETE">
                    <button type="submit" onclick="return confirmDelete()">delete</button>
                </form>

            </div>
            <p>Recieved by:<%=chat.to%></p>
            <hr />
            <p><%=chat.created_at.toString().split(" ")[4]%></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
        </div>
        <br><br />
    <%}%>
    </div>


    <script>
        function confirmDelete(){
            return confirm("Are you sure you want to delete this chat?");
        }

        function confirmEdit(){
            return confirm("Are you sure you want to edit this chat?");
        }
    </script>
</body>
</html>

